body {
	background-color: #e0e2e5;
}

.nav {
	margin-top: 20px;
	margin-right: 10px;
	background-color: #e0e2e5;
}

.jumbotron {
	margin-bottom: 0px;
	background-image: url(images/alone-back-view-blonde-247195.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}

#homepageCarousel {
	width: 1115px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
}

#homeAbout {
	padding-top: 30px;
}

/*#homeAboutImage img {
	width: 50px;
	height: 50px;
}*/

.footer {
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}